<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile=".phpunit.result.cache"
>
	<testsuites>
		<testsuite name="default">
			<directory suffix=".php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="WORDPRESS_TABLE_PREFIX" value="wp_"/>
		<env name="ABSPATH" value=""/>
	</php>
</phpunit>
